PIHOLE_INTERFACE={{ pihole_interface }}
IPV4_ADDRESS={{ pihole_ipv4_address }}
IPV6_ADDRESS={{ pihole_ipv6_address }}
PIHOLE_DNS_1={{ pihole_dns_1 }}
PIHOLE_DNS_2={{ pihole_dns_2 }}
QUERY_LOGGING={{ pihole_query_logging | lower }}
INSTALL_WEB_SERVER={{ pihole_web_server | lower }}
INSTALL_WEB_INTERFACE={{ pihole_web_interface | lower }}
LIGHTTPD_ENABLED={{ pihole_lighttpd_enabled | lower }}
